<!DOCTYPE html>
<html lang="en" class="bg-canvas text-on-canvas">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title || site.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Lume" />
    <meta name="robots" content="index,follow" />
    <meta name="referrer" content="origin" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body class="body-layout body-padding body-flex">
    <header class="site-header">
      <nav class="navbar">
        <div class="navbar-container">
          <a class="navbar-brand" href="/">
            <div class="logo-container">
                <div class="logo-text">hirefrank</div>
            </div>
          </a>
          <ul class="nav-menu">
            {{ for item of [
              { url: "/about/", label: "About", show: true },
              { url: "/projects/", label: "Projects", show: true },
              { url: "/services/", label: "Working Titles", show: true },
              { url: "/speaking/", label: "Speaking", show: false },
              { url: "/uses/", label: "Uses", show: false },
              { url: "/contact/", label: "Contact", show: false }
            ] }}
              {{ if item.show }}
                <li>
                  <a href="{{ item.url }}" class="nav-link {{ page.data.url === item.url ? 'nav-link-active' : '' }}">
                    {{ item.label }}
                  </a>
                </li>
              {{ /if }}
            {{ /for }}
          </ul>
        </div>
      </nav>
    </header>
    <main>
  <div class="{{ page.data.url === '/' ? 'home-container' : 'main-container' }}">
        {{ if page.data.url === "/" }}
        <div class="profile-image">
          <img alt="Frank Harris" src="/images/mug.jpg">
        </div>
        {{ /if }}
        {{ content }}
        {{ if page.data.url === "/" }}{{ include "social.vto" }}{{ /if }}
        {{ if page.data.url === "/" }}{{ include "writings.vto" }}{{ /if }}
        {{ if page.data.url === "/projects/" }}{{ include "projects.vto" }}{{ /if }}
        {{ if page.data.url === "/services/" }}{{ include "services.vto" }}{{ /if }}
      </div>
    </main>
    <footer>
      <div class="footer">
        <ul class="footer-list">
          <li>&copy; {{ new Date().getFullYear() }} Frank Harris</li>
        </ul>
      </div>
    </footer>
  </body>
</html>