---
layout: base.vto
---

<h1 class="text-[160%] leading-[1.545] font-semibold">Hi, I'm Frank. 🙋🏼‍♂️</h1>

<p class="text-[124%] leading-[1.545] font-normal">I'm a Maker, Advisor, and Angel Investor with over 20 years of experience leading teams and building products at companies like <span class="font-medium">Slack</span> <span class="relative -top-[0.1em] inline-block">🙌</span>, <span class="font-medium">Etsy</span> <span class="relative -top-[0.0em] inline-block">🧶</span>, and <span class="font-medium">Google</span> <span class="relative -top-[0.1em] inline-block">🤖</span>.</p>

<p>In 2024, I launched <a href="/services" class="text-on-canvas-dim border-b border-dotted border-on-canvas-dim font-semibold hover:text-accent hover:border-accent">Working Titles</a>, a coaching practice dedicated to guiding leaders through the tricky stuff of building products and high-performing teams. As a 5x VP of Product, I've navigated the highs, lows, and everything in between.</p>

<p>I live in Brooklyn, NY with my wife, two young daughters, and an Italian truffle dog that isn't of much use in the city.</p>

{{# I'm a Product Executive & Advisor; fmr VP of Product,
@SlackHQ
 Platform, ex
@Etsy

@Google
. In my spare time, I like to cook and make bread.</p>

<p class="mb-4">I'm the VP of Product, Platform at <a href="https://www.slack.com" class="text-on-canvas-dim border-b border-dotted border-on-canvas-dim font-semibold hover:text-accent hover:border-accent">Slack</a> 🙌. In the past, I've led product teams at <a href="https://www.invision.com" class="text-on-canvas-dim border-b border-dotted border-on-canvas-dim font-semibold hover:text-accent hover:border-accent">InVision</a> 🎨, <a href="https://www.betterment.com" class="text-on-canvas-dim border-b border-dotted border-on-canvas-dim font-semibold hover:text-accent hover:border-accent">Betterment</a> 💸, and <a href="https://www.etsy.com" class="text-on-canvas-dim border-b border-dotted border-on-canvas-dim font-semibold hover:text-accent hover:border-accent">Etsy</a> 🧶.</p>

<p class="mb-4">In 2024, I opened a limited practice focused on helping companies and founders think through their product strategy and build better products.</p>

<p class="mb-12">I live in Brooklyn, NY with my wife, two young daughters, and an Italian truffle dog that isn't of much use in the city.</p>
</section> #}}

{{# <section class="side-projects">
  <h2 class="font-serif italic text-[130%] leading-[1.545] mb-3">Side Projects</h2>
  <ul class="text-[90%] space-y-3">
    {{ for post of search.pages("project").reverse() }}
      <li>{{ post.emoji }} <a href="{{ post.url }}" class="text-on-canvas-dim border-b border-dotted border-on-canvas-dim font-semibold hover:text-accent hover:border-accent">{{ post.title }}</a> - {{ post.summary }}</li>
    {{ /for }}
  </ul>
</section> #}}
{{#
I'm a Maker, Advisor, and Angel Investor. I've spent the last 20+ years leading teams and building products across companies like Slack, Etsy, and Google. Now, I help product leaders take the next step in their journey.

I'm a 5x VP of Product, most recently at Slack leading Plaform initiatives, and I've led product teams at Etsy, InVision, and Betterment.


In 2024, I opened Working Titles, a coaching practice focused on helping product leaders navigate the tricky stuff. I help product leaders and founders think through their product strategy and build better products.


I help product leaders like you navigate the tricky stuff — whether you're growing your team, refining strategy, or gearing up for the next big leap.

I live in Brooklyn, NY with my wife, two young daughters, and an Italian truffle dog that isn't of much use in the city.

Hi, I'm Frank.

I'm a Maker, Advisor, and Angel Investor with over 20 years of experience leading teams and building products at companies like Slack, Etsy, and Google. As a 5x VP of Product, I've navigated the highs, lows, and everything in between.

In 2024, I launched Working Titles, a coaching practice dedicated to guiding product leaders and founders through the tricky stuff of building delightful products and high-performing teams.

I live in Brooklyn, NY with my wife, two young daughters, and an Italian truffle dog that isn't of much use in the city. #}}