<h2 class="pt-2">Writings</h2>
<ul class="writings-list">
  {{ for post of mediumPosts }}
  <li class="writings-item">
    <div class="flex-1">
      <span class="writings-date">{{ post.pubDate |> date("SHORT") }}</span>
      <a href="{{ post.link }}" target="_blank" rel="noopener noreferrer">{{ post.title }}</a>
    </div>
  </li>
  {{ /for }}
</ul>

