{% extends "base.html" %}
{% block content_title %}{{ SITENAME }}{% endblock %}

{% block content %}
{% if articles %}
    {% for article in articles_page.object_list %}
                <section class="article-wrapper content">
                    <article>
                        <section class="header">
                            <h3><a href="{{ SITEURL}}/{{ article.url }}" class="no-underline" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></h3>
                        </section>
                        <section class="meta">
                            <abbr class="date" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</abbr>
                            {% include 'article_tags.html' %}
                        </section>
                        <section class="main">
                            <div class="body">
                                {{ article.content }}
                            </div>
                            <div class="share">
                                <!--<i class="ss-icon">heart</i> 40 <i class="ss-icon">retweet</i> 56 <i class="ss-icon">comment</i> 20-->
                            </div>
                        </section>
                    </article>
                </section>
    {% endfor %}
{% endif %}
{% endblock %}

