          var element_autocomplete = document.createElement("script");
          element_autocomplete.src = "{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.swiftype.autocomplete.min.js";
          document.body.appendChild(element_autocomplete);

          var element_ba = document.createElement("script");
          element_ba.src = "{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.ba-hashchange.min.js";
          document.body.appendChild(element_ba);

          var element_search = document.createElement("script");
          element_search.src = "{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.swiftype.search.min.js";
          document.body.appendChild(element_search);

          // set up autocomplete
          $("#st-search-input").swiftype({
            engineKey: "9Zx3kTozjjSgF4Xixu8q"
           });

          // set up search
          $("#st-search-input").swiftypeSearch({
            engineKey: "9Zx3kTozjjSgF4Xixu8q",
            resultContainingElement: "#st-results-container"
          });

          var autocompleteRenderFunction = function(documentType, item) {
            return '<p><img src="' + item['thumbnail_url'] + '">' + item['title'] + '</p>';
          }

          var searchResultRenderFunction = function(documentType, item) {
            return '<p><a href="' + item['url'] + '">' + item['title'] + '</a></p>';
          }

          // set up autocomplete with custom render function
          $("#st-search-input").swiftype({
            engineKey: "9Zx3kTozjjSgF4Xixu8q",
            renderFunction: autocompleteRenderFunction
          });

          // set up search with custom render function
          $("#st-search-input").swiftypeSearch({
            engineKey: "9Zx3kTozjjSgF4Xixu8q",
            resultContainingElement: "#st-results-container",
            renderFunction: searchResultRenderFunction
          });

