{{ define "main" }}
          <h4>Hi, I'm Frank.</h4>

          <p>I've led product teams at <a href="https://www.casper.com" class="casper">Casper</a>, <a href="https://www.betterment.com" class="betterment">Betterment</a>, and <a href="https://www.etsy.com" class="etsy">Etsy</a>. In my spare time, I like to <span class="cook">cook</span> and make <span class="bread">bread</span>.</p>

          <p>I'm an accomplished product leader with over 15 years of experience in design, engineering, and data-driven product development.</p>

          <ul>
            <li>Experience managing and growing teams of 20+ through empowering and accountability</li>
            <li>Consensus-builder and team-motivator who works across an organization to drive execution</li>
            <li>User-first strategist with expertise in fintech, marketplaces, DTC, mobile, search &amp; discovery</li>
          </ul>

          <p>I love solving big, challenging problems focused on efficiency, democractizing information, or access.</p>

          <p>Want to chat? <a href="mailto:frank@hirefrank.com?subject=Hi!">Say hi.</a>
{{ end }}