@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --hue: 26;
    --canvas: hsl(var(--hue) 85% 95%);
    --on-canvas: hsl(var(--hue) 10% 10%);
    --on-canvas--dim: hsl(var(--hue) 20% 35%);
    --on-canvas--mute: hsl(var(--hue) 10% 90%);
    --accent: hsl(8, 58%, 52%);
    --accent-dark: hsl(8, 58%, 42%);
  }

  h1 {
    @apply text-2xl sm:text-3xl md:text-4xl leading-tight font-semibold;
    + p { @apply text-xl sm:text-2xl md:text-3xl leading-normal sm:leading-relaxed md:leading-relaxed font-normal; }
  }

  h2 {
    @apply text-2xl sm:text-2xl md:text-3xl leading-tight font-serif italic mb-4;
  }

  p {
    @apply mb-4 text-lg sm:text-xl md:text-2xl leading-normal sm:leading-relaxed md:leading-relaxed font-normal;
  }

  .simple-content p:first-child {
    @apply text-xl sm:text-2xl md:text-3xl leading-normal sm:leading-relaxed md:leading-relaxed font-normal;
  }

  .home p + p {
    @apply text-xl sm:text-2xl md:text-3xl leading-normal sm:leading-relaxed md:leading-relaxed font-light;
  }

  p a {
    @apply text-on-canvas-dim border-b border-dotted border-on-canvas-dim font-semibold hover:text-accent hover:border-accent;
  }

  ul {
    @apply list-disc pl-8 mb-6;
    :is(nav, footer) & { @apply list-none p-0 m-0; }
  }

  nav ul { @apply m-0 p-0; }

  main {
    @apply mt-8 sm:mt-24;
  }

  blockquote {
    @apply px-4 my-2 border-s-4 border-on-canvas-dim;
  }

  footer {
    @apply text-base text-on-canvas-dim mt-auto;
  }

  .footer {
    @apply max-w-4xl mx-auto px-4 w-full;
  }
}

@layer utilities {
  .link-style {
    @apply text-on-canvas-dim border-b border-dotted border-on-canvas-dim font-semibold hover:text-accent hover:border-accent;
  }

  .nav-menu {
    @apply
      /* Layout */
      flex-col
      sm:flex-row
      sm:flex

      /* Positioning */
      absolute
      sm:relative
      sm:top-0
      top-20
      right-0

      /* Dimensions */
      w-max
      sm:w-auto

      /* Spacing */
      space-y-6
      sm:space-y-0
      sm:space-x-4
      ml-auto
      -mt-[calc(3em-14px)]

      /* Padding */
      px-12 py-10
      sm:p-0

      /* Typography */
      text-2xl
      sm:text-base
      font-medium

      /* Colors and Background */
      bg-transparent
      shadow-md
      border border-zinc-200 bg-white
      leading-loose
      sm:border-none
      sm:bg-transparent
      sm:shadow-none
      sm:leading-normal

      /* Other */
      z-50;
  }

  .grid-responsive {
    @apply grid gap-6 mb-6 grid-cols-1 sm:grid-cols-2;
  }

  .grid-responsive-single {
    @apply grid gap-6 mb-6 grid-cols-1;
  }

  .main-content {
    @apply mt-[max(4rem,calc(20vh-14rem))];
  }

  .footer-list {
    @apply flex flex-wrap items-center [&>li]:mr-4 [&>li:last-child]:mr-0;
  }

  .rotate-hover {
    @apply transform rotate-3 hover:rotate-0 transition-transform duration-300;
  }

  .scale-hover {
    @apply scale-110 hover:scale-100 transition-transform duration-300;
  }

  .profile-image {
    @apply w-[100px] sm:w-[135px] h-[100px] sm:h-[135px] rounded-full overflow-hidden mx-0;
  }

  .profile-image img {
    @apply w-full h-full object-cover transform scale-[1.3] my-6 ml-1;
  }

  .social-icon {
    @apply w-4 h-4 sm:w-7 sm:h-7 hover:text-accent inline-block no-underline;
  }

  .social-icon svg {
    @apply w-5 h-5 sm:w-7 sm:h-7;
  }

  .body-layout {
    @apply font-sans text-[1.4em] leading-[1.8] tracking-[-0.011em] min-h-[calc(100vh-2.5em)] sm:min-h-[calc(100vh-0.5em)] mx-auto;
    max-width: min(40em, 100% - 2rem);
  }

  .body-padding {
    @apply pt-[max(env(safe-area-inset-top),3rem)] pb-[max(env(safe-area-inset-bottom),0.80rem)] px-[max(env(safe-area-inset-right),1.125rem)];
  }

  .body-flex {
    @apply flex flex-col;
  }

  .nav-link {
    @apply text-on-canvas hover:text-accent no-underline;
  }

  .nav-link-active {
    @apply text-accent font-bold;
  }

  .main-container {
    @apply container space-y-6 max-w-4xl mx-auto px-4 w-full;
  }

  .home-container {
    @apply main-container home;
  }

  .writings-list {
    @apply text-lg sm:text-2xl leading-tight font-normal space-y-6 ml-0 pl-0 mb-2;
  }

  .writings-list a {
    @apply text-on-canvas-dim border-b border-dotted font-normal hover:text-accent hover:border-accent;
  }

  .writings-item {
    @apply flex justify-between items-center ml-0 pl-0;
  }

  .writings-date {
    @apply text-accent-dark mr-2 uppercase text-base sm:text-lg font-normal;
  }

  .projects-list {
    @apply -ml-8 space-y-6 list-none text-lg sm:text-xl md:text-2xl leading-normal sm:leading-relaxed md:leading-relaxed font-normal;
  }

  .simple-content {
    @apply mt-4;
  }

  .video-container {
    @apply w-full max-w-3xl mx-0 my-4;
  }

  .video-wrapper {
    @apply relative pt-[56.25%]; /* 16:9 Aspect Ratio */
  }

  .video {
    @apply absolute top-0 left-0 w-full h-full;
  }

  .video-content {
    @apply mt-4 text-lg sm:text-xl md:text-2xl leading-normal sm:leading-relaxed md:leading-relaxed font-normal;
  }

  .video-info {
    @apply mb-4 text-xl sm:text-2xl md:text-3xl leading-normal sm:leading-relaxed md:leading-relaxed font-normal;
  }

  .video-date {
    @apply italic;
  }

  .about-image-container {
    @apply float-none sm:float-right mx-auto sm:ml-8 my-4 sm:my-8 relative overflow-hidden rounded-lg shadow-lg w-full sm:w-96 h-64 sm:h-96;
  }

  .about-image {
    @apply absolute w-full h-full object-cover object-[70%_center];
  }

  .services-section {
    @apply pt-6;
  }

  .additional-info {
    @apply text-base sm:text-lg leading-normal sm:leading-relaxed font-normal;
  }


  .faq-container {
    @apply space-y-6 mb-12;
  }

  .site-header {
    @apply mb-8;
  }

  .navbar {
    @apply bg-canvas relative;
  }

  .navbar-container {
    @apply container flex justify-between items-center;
  }

  .default-list {
    @apply list-disc pl-8 mb-6;
  }

  .reset-list {
    @apply list-none p-0 m-0;
  }

  .section-spacing {
    @apply my-8 sm:my-12;
  }

  .content-spacing {
    @apply my-4 sm:my-6;
  }

}

@layer components {
  .hamburger-line {
    @apply w-6 h-0.5 bg-gray-600 mb-1 transition-all duration-200 ease-in-out;
  }

  .menu-open .hamburger-line:nth-child(1) {
    @apply transform rotate-45 translate-y-1.5;
  }

  .menu-open .hamburger-line:nth-child(2) {
    @apply opacity-0;
  }

  .menu-open .hamburger-line:nth-child(3) {
    @apply transform -rotate-45 -translate-y-1.5;
  }

  .logo-container {
    @apply -mt-[calc(3em-19px)] w-[100px] sm:w-[135px] h-[60px] sm:h-[76px] bg-accent border-t-[12px] sm:border-t-[17px] border-[#b85544] text-center;
  }

  .logo-text {
    @apply text-xl sm:text-2xl py-1 pt-[6px] sm:pt-[8px] pb-[11px] sm:pb-[15px] text-canvas font-light no-underline inline-block w-full;
  }

  .card {
    @apply border border-zinc-200 bg-white rounded-lg p-4 sm:p-6 flex flex-col h-full shadow-md;
  }

  .card-title {
    @apply text-xl font-semibold mb-2;
  }

  .card-price {
    @apply text-3xl sm:text-4xl font-semibold mb-2;
  }

  .card-price-unit {
    @apply text-lg sm:text-xl font-normal;
  }

  .card-price-description {
    @apply text-lg sm:text-xl font-normal sm:leading-relaxed mb-4;
  }

  .card-feature-list {
    @apply text-base sm:text-lg space-y-2 mb-6;
  }

  .card-button {
    @apply text-base sm:text-lg font-medium block text-center bg-white text-accent border border-accent rounded-lg py-2 hover:bg-accent hover:text-white transition;
  }

  .testimonial {
    @apply border border-zinc-200 rounded-lg p-6 bg-white shadow-md flex flex-col h-full;
  }

  .testimonial-quote {
    @apply text-base sm:text-lg mb-4 flex-grow;
  }

  .testimonial-author {
    @apply text-base sm:text-lg font-semibold mb-0 pb-0;
  }

  .testimonial-title {
    @apply text-base sm:text-lg text-gray-600 my-0 pt-0;
  }
  .faq-question {
    @apply text-lg sm:text-xl font-semibold mb-2;
  }

  .faq-answer {
    @apply text-lg sm:text-xl;
  }
}

@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'CrimsonProItalic';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/CrimsonPro-Italic-VariableFont_wght.ttf');
}


