<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{ partial "header.html" . }}
  <body>   

    {{ with "billboard" }}
    <div class="billboard">
      <div class="container">
        <div class="row">
          <div class="ten columns offset-by-one">
            {{- block "billboard" . }}{{- end }}
          </div>
        </div>
      </div>
    </div>
    {{ end }}

    <div class="top">
      <div class="container">
        
        <div class="row">
          <div class="mark {{ .Kind }}">
            <h1><a href="/">hirefrank</a></h1>
          </div>
        </div>

        {{ if .IsHome }}

        <div class="row">
          <div class="two-thirds column summary">
            {{- block "main" . }}{{- end }}
          </div>
          
          <div class="one-third column sidebar">
            <h5>Videos I Like</h5>
            <ul>
            {{ $pages := where .Site.RegularPages "Type" "videos"}}
            {{ range $pages }}
              <li class="u-cf">
                <a href="{{.Permalink}}" class="secondary">
                  <img src="//img.youtube.com/vi/{{ .Params.youtube_id }}/default.jpg" class="u-pull-left"/>
                  <span class="title">{{ .Params.video }}</span><span>, </span>
                  <span class="meta">{{ .Params.artist }}</span><span> &mdash; </span>
                  <span class="meta">{{ .PublishDate.Format "January 2, 2006" }}</span>
                </a>
              </li>
            {{ end }}
            </ul>
          </div>
        </div>

        {{ else }}

        <div class="row">
          <div class="ten columns offset-by-one" style="margin-top: 3%">
              {{- block "main" . }}{{- end }}
          </div>
        </div>

        {{ end }}

  {{ partial "footer.html" . }}

      </div>
      {{ partial "analytics.html" . }}
    </div>
  </body>
</html>