{{ define "description" }}{{ .Params.summary }}{{ end }}

{{ define "billboard" }}

<div class="two columns photo">
  <div class="image-wrapper">
    <img src="/img/mug-eye.jpg" height="100" width="100" />
  </div>
</div>
<div class="ten columns about">
  <h2>Frank Harris</h2>
  <p>Hi! I've led product teams at <a href="https://www.casper.com">Casper</a>, <a href="https://www.betterment.com">Betterment</a>, and <a href="http://www.etsy.com">Etsy</a>. Before leading teams, I began my career as a <a href="http://www.google.com">ux designer</a> and <a href="http://www.washingtonpost.com">software engineer</a>. In my spare time, I like to cook and make bread.</p>
</div>

{{ end }}

{{ define "main" }}

<h3>{{ .Title }}</h3>

{{ if eq .Type "videos" }}
  <div class="video-container">
    <iframe width="560" height="315" src="//www.youtube.com/embed/{{ .Params.youtube_id }}{{ if .Params.start }}?start={{ .Params.start }}{{ end }}" frameborder="0" allowfullscreen></iframe>
  </div>  
{{ end }}

  {{ .Content }}
  
  <em>&mdash; {{ .PublishDate.Format "January 2, 2006" }}</em>
  
{{ end }}