/* HEADER */

body {
    font-size: 84%;
}

.header {
    margin-top:40px;
}
.header h1 {
	font-family: 'Puritan';
	font-size: 240%;
	font-style:italic;
	background-color: #FFBC73;
	display:inline;
	padding:2px 6px 0 6px;
	margin-right:10px;
	color:#fff;
	text-shadow: 1px 1px #FFA340;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.header h1 a {
    text-decoration: none;
    color: #fff;
}

a:link {
	color:#62B1D0;
	text-decoration: none;
	display: inherit;
	text-transform: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    display: inherit;
}

a:visited {
	color:#226078;
	text-decoration: none;
}

a:hover {
	color:#62B1D0;
	text-decoration: underline;
}

a:active {
	color:#226078;
	text-decoration: underline;
}

.content h2 {
    text-transform: uppercase;
    font-size: 94%;
    font-family: 'News Cycle';
    font-weight: normal;
    display: inline;
}

.content h2+p {
    display: inline;
}

.content p {
    font-family: 'News Cycle';
    margin-top: 20px;
    line-height: 1.6em;
    display: block;
}

.content .meta {
    margin-top: 10px;
    font-family: 'News Cycle';
    font-size: 84%;
}

.content .meta a {
    display: inline;
    color: #FFA340;
}

.video iframe {
    float: right;
    padding-left: 20px;
}

.video p {
}

.post {
    margin: 40px 0;
}

.post .head {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 14px;
}

.post .head div {
    margin-bottom: 10px;
}

.post .head .date {
    font-family: "News Cycle";
    background-color: #f0f0f0;
    color: #999;
    text-transform: uppercase;
    font-size: 86%;
    padding: 2px 4px 4px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    word-spacing:2px;
}

.content {
    -moz-column-width: 400px; 
    -webkit-column-width: 400px; 
    -moz-column-gap: 1.3em; 
    -webkit-column-gap: 1.3em;
    margin: 0;
    color: #333;
    font-size: 120%;
    height: 400px;
}

.footer {
    clear: both;
    margin-top: 100px;
    background-color: #FFA340;
    height: 100px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
}

/* http://colorschemedesigner.com/#0B21Tw0w0w0w0 */