<ul>
  <li>&copy; {{ "now" | date("Y") }}</li>
  <li><a href="https://github.com/hirefrank">Github</a></li>
  <li><a href="https://instagram.com/hirefrank">Instagram</a></li>
  <li><a href="https://twitter.com/hirefrank">Twitter</a></li>
  <li><a href="https://www.linkedin.com/in/hirefrank/">Linkedin</a></li>
  <li><a href="mailto:frank@hirefrank.com?subject=Hi!">Email</a></li>
</ul>