<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ title or site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="generator" content="Lume" />

  <meta name="robots" content="index,follow" />
  <meta name="referrer" content="origin" />

  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <script src="https://kit.fontawesome.com/8c8271362d.js" crossorigin="anonymous"></script>
</head>