@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/assets/fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'CrimsonProItalic';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url('/assets/fonts/CrimsonPro-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Fallback';
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: normal;
  advance-override: 10;
  src: local(Arial);
}

:root {
  --text-stack: Quicksand, Fallback, sans-serif;
  --text-settings: 'kern' 1, 'liga' 1, 'case' 1, 'dlig' 1, 'ss03' 1;
  --text-measure: 64ch;
  --text-size: max(1.4em, 1.5vw);
  --text-height: 1.8;
  --text-spacing: -0.011em;

  --text-header-stack: var(--text-stack);
  --text-header-size: 130%;
  --text-header-height: 1.545;
  --text-header-spacing: normal;

  --text-serif-stack: CrimsonProItalic, var(--text-stack);
  --text-serif-size: 110%;
  --text-serif-height: 1.545;
  --text-serif-spacing: normal;

  --text-footer-size: 70%;

  --bold: 600;
}