      <div class="row">
        <div class="eleven column footer">   
          <ul>
            <li><a href="/" class="tertiary">Home</a></li>
            <li><a href="http://linkedin.com/in/hirefrank" class="tertiary">LinkedIn</a></li>
            <li><a href="https://twitter.com/hirefrank" class="tertiary">Twitter</a></li>
            <li><a href="mailto:frank@hirefrank.com?subject=Hi!" class="tertiary">Contact</a></li>
            <li>&copy; {{ now.Format "2006" }} <span>Frank Harris</span></li>
          </ul>
        </div>
      </div>