<!DOCTYPE html>
<html lang="en">
  {% include 'shared/head.njk' %}
  <body class="site {{ bodyClass }}">
    <header class="site-header">
      <div class="header header--cozy" role="banner">
        {% include 'shared/header.njk' %}
      </div>
    </header>
    <main class="site-content">
      <div class="container">
        {{ content | safe }}
      </div>
    </main>
    <footer class="site-footer">
      <div class="footer">
        {% include 'shared/footer.njk' %}
      </div>
    </footer>
  </body>
</html>