---
layout: layout.vto
title: TaxPal - Accounting made simple for small businesses
---

{{ include "header.vto" }}

<main>
  {{ include "hero.vto" }}
  {{ include "features.vto" }}
  {{ include "benefits.vto" }}
  {{ include "cta.vto" }}
  {{ include "testimonials.vto" }}
  {{ include "pricing.vto" }}
  {{ include "faqs.vto" }}
</main>

{{ include "footer.vto" }}