@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --hue: 26;
    --canvas: hsl(var(--hue) 85% 95%);
    --on-canvas: hsl(var(--hue) 10% 10%);
    --on-canvas--dim: hsl(var(--hue) 20% 35%);
    --on-canvas--mute: hsl(var(--hue) 10% 90%);
    --accent: hsl(8, 58%, 52%);
  }
}

/* @layer components {
  .simple {
    @apply my-4;

    h1 {
      @apply font-serif italic text-[150%] leading-[1.545] my-6;
    }

    section {
      p, ul {
        @apply mb-4 text-[90%];
      }

      ul {
        @apply list-disc pl-8 mb-6;
      }
    }
  }
} */

@layer components {
  h1 {
    @apply text-[160%] leading-[1.545] font-semibold;
    + p { @apply text-[124%] leading-[1.545] font-normal; }
  }

  p { @apply mb-4 text-[100%]; }

  p a {
    @apply text-on-canvas-dim border-b border-dotted border-on-canvas-dim font-semibold hover:text-accent hover:border-accent;
  }

  ul {
    @apply list-disc pl-8 mb-6;
    :is(nav, footer) & { @apply list-none p-0 m-0; }
  }

  nav ul { @apply m-0 p-0; }
}

@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  font-style: normal;
  src: url('/fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'CrimsonProItalic';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/CrimsonPro-Italic-VariableFont_wght.ttf');
}


