---
layout: layouts/base.njk
bodyClass: body-home
---

<header>
  <h1>{{ header }}</h1>
</header>

<section>
  {{ content | safe }}
</section>

<section class="side-projects">
  <h2>Side Projects</h2>
  <ul>{%- for post in search.pages("project") | reverse -%}
  <li>{{post.data.emoji}} <a href="{{post.data.url}}">{{ post.data.title }}</a> - {{ post.data.summary }}</li>
  {%- endfor -%}</ul>
</section>