@import "../../../vendor/bundle/ruby/1.9.1/gems/neat-1.5.0/app/assets/stylesheets/neat-helpers"; 
@import "normalize";
//@import "../webfonts/ss-social-regular.min.css";
//@import "../webfonts/ss-standard.min.css";

// Change the grid settings
$column: 46px;
$gutter: 18px;
$grid-columns: 16;
$max-width: em(1088);

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);

// Variables
$font-family: 'Roboto Slab', serif;

$background: #FDF0E6;
$background-drawer: #E7ECED;
$background-border: #E4E0D7;
$background-mark: #CB503D;
$background-mark-border: #B85544;

$text-default: #333;
$text-highlight: #CC513D;
$text-date: #176273;
$text-opacity: .70;
$text-mark: #FFF;
$text-headline: #176273;


