@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

@import "../../../vendor/bundle/ruby/1.9.1/gems/bourbon-3.1.8/app/assets/stylesheets/bourbon";
@import "grid-settings";
@import "../../../vendor/bundle/ruby/1.9.1/gems/neat-1.5.0/app/assets/stylesheets/neat";

body {
    background-color: $background;
    font-family: $font-family;
    color: $text-default;
    font-weight: 300;
}

.content { @include outer-container; }
i { vertical-align: middle; }
a { text-decoration: none; color: inherit; }
a:hover.no-underline,
a:hover.no-underline-icon { text-decoration: none; }
a:hover, a:hover span { text-decoration: underline; }
p, li { line-height: 160%; }

section.container {
    
    section.drawer {
        background-color: $background-drawer;
        
        section.photo {
            @include span-columns(2);
            @include shift(1);
            margin-top: 50px;
            margin-bottom: 50px;


            .image-wrapper {
                border-radius: 50em;
                background:url(../img/mug.jpg) no-repeat center center; 
                height: 100px;
                width: 100px;
            
                @include media($tablet) {
                    height: 50px;
                    width: 50px;
                }

                img { 
                    opacity: 0; 
                }
            
            }

        }

        section.about {
            @include span-columns(10);
            margin-top: 40px;
            margin-bottom: 40px;
            
            @include media($tablet) {
                @include span-columns(5);    
                
            }

            h2 {
                font-weight: 300;
                color: $text-highlight;
                font-size: em(26);
                margin: 0;
            }

            p {
                margin: 0;
                font-size: em(18);
            
                a {
                    font-weight: 400;
                    color: $text-default;
                    white-space: nowrap;
                }

            }

        }
    
    }
    
    section.blog {
        background-color: $background;
        border-top: 17px solid $background-border;
    
        section.mark-wrapper {
            
            .mark {
                width: 180px;
                background-color: $background-mark;
                margin: -17px auto 0 auto;
                border-top: 17px solid $background-mark-border;
                text-align: center;

                h1 {
                    font-size: em(32);
                    color: $text-highlight;
                    font-weight: 100;
                    padding: 4px 0 14px 0;
                }

                    a {
                        color: $text-mark;
                    }
            
            }
        
        }

        section.article-wrapper {
            
            article {

                section.meta {
                    @include span-columns(2);
                    @include shift(1);
                    font-size: em(16);
                    opacity: $text-opacity;
                    margin-top: 140px;
                    font-weight: 400;

                    .date {
                        color: $text-date;
                    }

                    ul.tags {
                        list-style: none;
                        margin: 40px 0;
                        padding: 0;

                        a {
                            color: $text-highlight;
                        }
                        
                    } 
                
                }

                section.main {
                    @include span-columns(10);    
                    padding-bottom: 60px;

                    h3 {
                        margin: 20px 0;
                        font-size: em(36);
                        font-weight: 700; 
                        
                        a {
                            color: $text-headline;
                        } 
                        
                    }

                    .body {
                        font-size: em(18);

                        a {
                            color: $text-highlight;
                        }

                    }

                    .share {
                        font-size: em(18);
                        font-weight: 400;
                        opacity: $text-opacity;
                        color: $text-highlight;
                        
                        a {
                            color: $text-highlight;
                        
                            i {
                                margin-right: 40px;
                                margin-left: 0;
                            }
                        
                        }

                        i {
                            margin-left: 8px;
                        }
                    }

                }

            }
            
        }

    }
         
    footer {
        margin-top: 20px;
        padding-bottom: 20px;
        font-size: em(16);
        font-weight: 400;

        section[class^="navigate-"] {
            @include span-columns(3);
            margin-top: 6px;
        
            a {
                color: $text-highlight;
                opacity: $text-opacity;
            }

            a:hover {
                opacity: 1;
            }

        }

        section.navigate-left {
            @include shift(1);
        }
       
        section.search {
            @include span-columns(8);
            text-align: center;

            input[type="text"] {
                text-align: left;
                width: 85%;
                margin: 0;
                padding: 6px;
                border: $background-mark-border 1px solid;
            }

            input.ss-icon {
                margin: -5px 0 0 0;
                padding: 8px 0 3px 0;
                text-align: center;
                width: 60px;
                vertical-align: middle;
                color: #FFF;
                background-color: $background-mark;
                border-left: none;
                border-right: $background-mark-border 1px solid;
                border-bottom: $background-mark-border 1px solid;
                border-top: $background-mark-border 1px solid;
            }
        
        }

        section.navigate-right {
            a { float: right; }
        }
        
        section.profile-links {
            @include span-columns(16);
            text-align: center;
            margin: 60px 0 50px 0;
            font-size: em(20);
        
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li:last-child { margin-right: 0; }

            li {
                display: inline;
                margin: 0;
                margin-right: 10px;
                background-color: $background-mark;
                padding: 8px 12px;
                color: #FFF;
                vertical-align: middle;
                border-radius: 50em;
                opacity: $text-opacity;

                a {
                    vertical-align: middle;
                }

                a.email {
                    position: relative;
                    top: 1px;
                }
                a.twitter {
                    position: relative;
                    top: 2px;
                    left: 1px;
                }
            
            }

            li:hover {
                opacity: 1;
            }
        
        }

        section.fine-print {
            @include span-columns(16);
            font-size: em(12); 
            text-align: center;
            opacity: $text-opacity;

        }
    }

}
